h1 {
    color: #5c56af;
}

table,th, td {
    table-layout: fixed;
    border: 1px solid;
    width: 50%;
    column-width: 80px;
    border-collapse: collapse;
    word-wrap: break-word;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .trStyle:first-child
  {
    background-color: #5c56af;
  }

  .tr1Style:nth-child(even) {
    background-color: #f2f2f2;
  }

  th:hover {
    background-color: #f2f2f2;
  }

  .tr1Style:nth-child(even) {
    background-color: #f2f2f2;
  }
